.tool {
    width: 35%;
    min-width: 478px;
    margin-left: 10px;
    margin-top: 3px;
    height: 400px;
}

.block-1, .block-2, .block-3 {
    width: 100%;
    background-color: #f1f8ff;
    border: 1px solid #d9dee2;
    border-radius: 10px;
    margin-bottom: 3px;
}

.block-1 {
    height: 35%;
}

.block-2 {
    height: 50%;
}

.block-3 {
    height: 15%;
}

.create-line {
    margin-left: 5px;
    margin-top: 5px;
}

.create-line:hover {
    cursor:pointer;
}

